*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

/* Navbar */
nav{
    font-family: 'kumbh', ;
    font-size: 14px;

}
.navbar{
    background: #ffffff;
}
.navbar-brand{
    margin-left: 60px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
}

/* Creating Octagon shape for logo */
.logo div{
    width: 3vmin;
    height: 3vmin;  
}
.octagon{
    overflow: hidden;
    margin-top: 14px;
}
.inner{
    transform: rotate(45deg);
    background: #20AD96;
}
.msg-icon{
    position: relative;
    top: 18px;
    right: 18px;
    font-size: 12px;
    color: #FFFFFF;
}
/* Octagon shape end */

.logo p{
    padding-top: 15px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 700;
}
/* Navbar brand end */

.nav-item{
    padding-right: 30px;
}
.navbar form{
    padding-right: 30px;
}
.btn{
    font-size: 14px;
    background-color: rgb(32, 173, 150);
    color: white;
    border: none;
   
}



/* Hero-Area */
.hero-area{
    height: 677px;
    background: #FAF8F6;
}

.zigzag{
    position: relative;
    bottom: 60px;
}
.shape .line-1{
    position: absolute;
    color: #20AD96;
    border: 2px solid #20AD96;
    transform: rotate(45deg);
    width: 20px;
    top: 111px;

}
.shape .line-2{
    position: absolute;
    width: 20px;
    border: 2px solid #20AD96;
    transform: rotate(-45deg);
    margin-left: 12px;
    top: 111px;
}
.shape-2{
    margin-left: 25px;
}
.shape-3{
    margin-left: 50px;
}
.shape-4{
    margin-left: 75px;
}


.hero-left{
    margin-top: 110px;
    padding-left: 40px;
}
.hero-text-1{
    font-size: 16px;
    color: #b4b7bf;
}
.hero-heading{
    font-weight: 800;
    font-size: 80px;
    color: #333461;
    line-height: 86.4px;
    /* width: 520px; */
}
.hero-text-2{
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    /* width: 545px; */
    padding-top: 40px;
}
.hero-right{
    margin-top: -60px;
}
.hero-right img{
    width: 462px;
    height: 603px;
    margin-top: 160px;
    position: absolute;
    
}

.success-box{
    position: relative;
    /* border: 1px solid red; */
    width: 237px;
    height: 104px;
    background: #ffffff;
    top: 120px;
    right: 120px;
    padding-top: 20px;
}
.success-content{
    padding-left: 85px;
}
.success-box h2{
    font-size: 22px;
    font-weight: 701;
    color: #333461;
}
.success-box p{
    font-size: 12px;
    line-height: 12px;
}
.circle{
    width: 20px;
    height: 20px;
    border: 2px solid #20AD96;
    position: absolute;
    border-radius: 50%;
    top: 40px;
    left: 28px;
}
.inner-circle{
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid black;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}
.line-left{
    width: 8px;
    height: 2px;
    background-color: #20AD96;
    right: 13px;
    position: absolute;
    top: 8px;
}
.line-right{
    width: 8px;
    height: 2px;
    background-color: #20AD96;
    left: 13px;
    position: absolute;
    top: 8px;
}
.line-top{
    width: 2px;
    height: 8px;
    background-color: #20AD96;
    right: 7px;
    position: absolute;
    top: -5px;
}
.line-bottom{
    width: 2px;
    height: 8px;
    background-color: #20AD96;
    right: 7px;
    position: absolute;
    top: 14px;
}
.hero-area .btn{
    margin-top: 40px;
}


/* Intro */
.intro{
    margin-top: 129px;
    /* margin-left: 150px; */
}
.zigzag-black{
    position: absolute;
    top: 740px;
    left: 90px;
}
.zigzag-black .line-1, .zigzag-black .line-2{
    border: 2px solid #3F3A64;
}
.heading{
    font-size: 48px;
    font-weight: 800;
    color: #333461;
    margin-top: 30px;
}
.upper-intro .heading{
    margin-left: -27px;
}
.upper-intro p{
    font-size: 17px;
}
.lower-intro p{
    font-size: 16px;
}

/* Review Area */
.review-area{
    /* border: 1px solid red; */
    background: #FAF8F6;
    /* height: 879px; */
    padding-bottom: 60px;
}
.reviews{
    padding-left: 40px;
}
.review-area .review-heading{
    /* width: 530px; */
    padding-bottom: 30px;
    margin-top: 80px;
    padding-top: 100px;
}
.review-heading .heading{
    padding-left: 39px;
}
.review-box{
    /* width: 400px; */
    /* height: 391px; */
    background-color: #ffffff;
    /* border: 1px solid blue; */
    margin-right: 30px;
    padding: 20px;
    margin-top: 20px;
}


.review-box p{
    font-size: 24px;
}
.review-box .img{
    margin-top: 20px;
    margin-left: 20px;
}
.star-review{
    padding-left: 20px;
    padding-top: 10px;
}
.star-review span{
    color: #E0E2E8;
}
.star-review .checked{
    color: #FEC84B;
}

/* Blog Area */
.blog-area{
    /* height: 840px; */
    /* border: 1px solid red; */
    padding-bottom: 30px;
}
.blog-content{
    padding-left: 10px;
}
.blog-heading{
    /* width: 680px; */
    /* margin: auto; */
    /* height: 112px; */
    /* margin-top: 97px; */
    /* margin-left: 389px; */
    margin: auto;
    text-align: center;
}

.article-box{
    height: 300px;
    margin-top: 60px;
    margin-left: 30px;
    padding: 2px;
    border: 1px solid #F2F3F7;
}
.blog-img img{
    width: 100%;
}
.article-heading{
    /* width: 300px; */
    font-size: 24px;
    font-weight: 700;
    margin: auto;
    padding-top: 24px;
    padding-left: 5px;
}
.article-text{
    margin: auto;
    /* width: 300px; */
    padding-top: 10px;
    padding-left: 5px;
}
.read-more-btn{
    text-align: center;
    margin-top: 90px;
}
.read-more-btn .btn{
    width: 200px;
}


/* guide area */
.guide-section{
    height: 750px;
    /* border: 1px solid yellowgreen; */
    padding-top: 60px;
}
.guide-left{
    padding-top: 100px;
    padding-left: 40px;
    /* border: 1px solid green; */
}
.guide-heading{
    /* width: 520px; */
}
.guide-left-text{
    font-size: 22px;
    font-weight: 400;
    padding-top: 20px;
    /* width: 550px; */
    line-height: 33px;
}
.guide-left-sub-text{
    font-size: 17px;
    line-height: 21.08px;
    font-weight: 400;
    /* width: 550px; */
}
.guide-right{
    position: relative;
    /* width: 446px; */
    height: 581px;
    /* border: 1px solid blue; */
    background: #483D8A;
    /* position: absolute;
    content: ''; */
}




.guide-right-text{
    width: 217.62px;
    height: 244.48px;
    padding-top: 50.63px;
    padding-left: 38.28px;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 700;
}
.guide-right-img{
    position: relative;
    left: 185px;
    top: -364px;
}
.guide-right-banner{
    position: relative;
    width: 525px;
    height: 78.81px;
    background: #483D8A;
    padding: 16px;
    margin-top: -475px;
    opacity: 0.3;
}

.guide-right-banner-text{
  position: relative;
  list-style: none;
  color: #FFFFFF;
  bottom: 60px;
  padding-left: 180px;

}
.guide-right-banner-text strong{
    position: relative;
    font-size: 12px;
    padding-left: 50px;
    /* top: -23px; */
}
.guide-right-banner-text p{
    position: relative;
    font-size: 8px;
    padding-left: 50px;
    /* top: -20px; */
}
.guide-right-banner-text .banner-circle{
    position: relative;
    left: -34px;
    bottom: 44px;
}
.guide-right-banner-text .banner-circle span{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: none;
}

.guide-right-banner-text .banner-inner-circle{
    position: relative;
    left: 8px;
    bottom: -2px;
}
.comment{
    position: relative;
    top: -108px;
    left: 186px;
}
.curve{
    position: relative;
    top: 4px;
    left: 11px;
}
.guide-right-corner-top{
    position: relative;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: #20AD96;
    top: -670px;
    left: 460px;
    text-align: center;
}
.guide-right-corner-top b{
    position: relative;
    top: 35px;
    color: #FFFFFF;
}


/* cta area */
.cta-section{
    height: 650px;
    /* border:1px solid blue ; */
}
.cta-content{
    /* width: 1280px; */
    /* height: 510px; */
    /* border: 1px solid red; */
    background: #FAF8F6;
    margin-left: 60px;
    /* padding: 20px; */
    padding-right: 5px;
    border-radius: 20px;
}
.cta-left{
    padding-top: 80px;
    padding-left: 11px;
}
.cta-left h1{
    font-size: 36px;
}
.cta-left p{
    font-size: 20px;
    font-weight: 400;
    color: #4A556C80;
}
.cta-left button{
    margin-top: 40px;
    width: 250px;
    height: 42px;
}
.cta-img{
    margin-top: -21px;
    padding-left: 19px;
}
.cta-img img{
    width: 100%;
    border-radius: 20px;
}

/* footer */
footer{
    height: 496px;
    /* border: 1px solid brown; */
}
.footer-top{
    background: #FAF8F6;
}
.footer-top-left{
    padding-left: 90px;
}
.footer-top-left h1{
    font-size: 30px;
}
.footer-top-left p{
    font-size: 20px;
    font-weight: 400;
    color: #4A556C;
}
.footer-top-right{
    padding-top: 40px;
    text-align: right;
    padding-right: 30px;
}
.footer-top .mailbox{
    width: 280px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: 400;
}

.footer-top .sub-btn{
    width: 150px;
    height: 44px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background: #20AD96;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.footer-bottom{
    padding-top: 60px;
    padding-left: 90px;
}
.footer-bottom-heading{
    color: #333461;
    font-size: 14px;
    font-weight: 700;
    margin-top: 18px;
    padding-left: 30px;
}
.footer-bottom a{
    text-decoration: none;
}
.footer-bottom-logo .msg-icon{
    right: 136px;
}
.footer-bottom .footer-bottom-logo p{
    padding-left: 10px;
    color: #333461;
}
.footer-bottom-logo .msg-icon{
    right: 136px;
}
.footer-bottom .footer-bottom-text{
    font-size: 16px;
    font-weight: 400;
    color: #4A556C80;
    padding-top: 16px;
}
.footer-bottom-mid ul{
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    line-height: 34px;
}
.footer-bottom-mid ul li{
    font-size: 17px;
}
.footer-bottom-mid ul li a{
    color: #A4A9B5;
    text-decoration: none;
}

.footer-bottom-mid ul > li > a:hover{
    color: black;
}

.contact-list{
    padding-top: 10px;
    list-style: none;
    color: #A4A9B5;
    line-height: 34px;   
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Navbar @576px */
    .navbar-brand{
        margin-left: 16px;
        padding-left: 16px;
    }
    .navbar ul, .navbar .btn{
        font-size: 12px;
    }
    #navbarSupportedContent{
        margin-left: 48px;
    }
    .logo div{
        width: 4vmin;
        height: 4vmin;
    }
    .octagon{
        overflow: hidden;
        margin-left: 16px;
    }
    .msg-icon{
        top: 17px;
        right: 17px;
    }
    .logo p{
        padding-left: 0px;
    }

    .hero-area{
        height: 400px;
    }
    .hero-left{
        padding-left: 16px;
    }
    .zigzag-black{
        left: 48px;
    }
    .hero-text-1{
        font-size: 10px;
    }
    .hero-heading{
        font-size: 26px;
        line-height: 36.4px;
    }
    .hero-text-2{
        font-size: 12px;
        line-height: 21.8px;
        padding-top: 5px;
    }
    .hero-area .btn{
        margin-top: 5px;
        font-size: 12px;
    }

    .hero-right img{
        width: 230px;
        height: 320px;
    }

    .success-box{
        width: 160px;
        height: 80px;
        top: 120px;
        right: 40px;
    }
    .success-box h2{
        font-size: 18px;
    }
    .success-box p{
        font-size: 8px;
    }
    .success-content{
        padding-left: 60px;
    }
    .circle{
        top: 33px;
        left: 20px;
    }


    .zigzag-black{
        top: 466px;
        left: 46px;
    }
    .upper-intro .heading{
        margin-left: 0px;
        font-size: 26px;
    }
    .upper-intro p{
        font-size: 12px;
    }
    .lower-intro strong{
        font-size: 12px;
    }
    .lower-intro p{
        font-size: 12px;
    }

    /* Review */
    .review-area .review-heading{
        padding-bottom: 20px;
        margin-top: 30px;
        padding-top: 30px;
    }
    .review-heading .heading{
        font-size: 28px;
        padding-left: 22px;
    }
    .review-box p, .review-box strong{
        font-size: 14px;
    }
    .blog-area .article-box p{
        font-size: 14px;
    }
    .blog-heading h1{
        font-size: 26px;
    }

    .read-more-btn{
        margin-top: 50px;
    }

    /* Guide */
    .guide-section{
        margin-top: 20px;
        padding-top: 20px;
    }
    .guide-heading .heading{
        font-size: 26px;
    }
    .guide-left{
        padding-left: 16px;
    }
    .guide-left-text{
        font-size: 12px;
        line-height: 16px;
    }
    .guide-left-sub-text{
        font-size: 14px;
        line-height: 17px;
    }
    .guide-left .btn{
        font-size: 12px;
        width: 160px;
        height: 34px;
    }
    .guide-right{
        height: 500px;
        margin-top: 90px;
    }
    .guide-right-text{
        font-size: 26px;
        padding-left: 20px;
    }
    .guide-right-corner-top{
        top: -590px;
        left: 166px;
    }
    .guide-right-img{
        left: 46px;
        margin-top: 150px;
    }
    .guide-right-img img{
        width: 200px;
    }
    .guide-right-banner{
        width: 246px;
        top: 20px;
    }
    .guide-right-banner-text{
        padding-left: 10px;
    }
    .guide-right-banner-text .banner-circle{
        left: 0px;
    }
    .guide-right-banner-text strong{
        font-size: 10px;
        padding-left: 10px;
        left: 50px;
        top: 24px;
    }
    .guide-right-banner-text p{
        font-size: 6px;
        left: 62px;
        padding-left: 10px;
        top: 24px;
    }
    .guide-right-banner-text .circle{
        top: 70px;
    }
    .comment{
        top: -75px;
        left: 44px;
    }
    .curve{
        left: 38px;
        top: 35px;
    }
    .cta-section{
        height: 390px;
    }
    .cta-content{
        margin-left: 35px;
    }
    .cta-left{
        padding-top: 30px;
    }
    .cta-img{
        margin-top: 50px;
        padding-left: 0px;
    }
    .cta-left .heading{
        font-size: 26px;
    }
    .cta-left p{
        font-size: 14px;
    }
    .cta-left .btn{
        width: 220px;
        height: 34px;
        font-size: 12px;
        margin-top: 10px;
    }

    footer{
        padding-top: 30px;
    }
    .footer-top-left{
        padding-left: 48px;
    }
    .footer-top-left .heading{
        font-size: 24px;
    }
    .footer-top-left p{
        font-size: 14px;
    }
    .footer-top-right{
        padding-top: 85px;
        padding-right: 10px;
    }
    .footer-top .mailbox{
        width: 160px;
        height: 30px;
        font-size: 14px;
    }
    .footer-top .sub-btn{
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
    .octagon{
        margin-left: 2px;
    }
    .footer-bottom{
        padding-left: 48px;
    }
    .footer-bottom-logo p{
        font-size: 12px;
        padding-left: 5px;
    }
    .footer-bottom .footer-bottom-text{
        font-size: 12px;
    }
    .footer-bottom-logo .msg-icon {
        right: 117px;
      }

      .footer-bottom-mid ul li {
        font-size: 12px;
      }
      .footer-bottom-heading{
        margin-top: 16px;
        font-size: 13px;
      }
      .contact-list{
        font-size: 12px;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand{
        margin-left: 44px;
        padding-left: 20px;
    }
    .navbar-nav{
        padding-left: 25px;
    }
    .navbar .btn{
        margin-left: 25px;
    }
    .navbar ul, .navbar .btn{
        font-size: 12px;
    }
    #navbarSupportedContent{
        margin-left: 40px;
    }
    /* hero area @768px */
    .hero-area{
        height: 480px;
    }
    .hero-left .hero-heading{
        font-size: 40px;
        line-height: 50px;
        /* width: 330px; */
    }
    .hero-text-1{
        font-size: 10px;
    }
    .hero-text-2{
        font-size: 12px;
        line-height: 20.8px;
        /* width: 330px; */
        padding-top: 10px;
    }
    .hero-right img{
        position: absolute;
        width: 310px;
        height: 410px;
    }
    .success-box{
        position: relative;
        width: 190px;
        height: 80px;
        right: 75px;
        top: 130px;
    }
    .success-content{
        padding-left: 70px;
    }
    .success-content h2{
        font-size: 22px;
    }
    /* Intro */
    .zigzag-black{
        top: 540px;
        left: 76px;
    }
    .upper-intro h1{
        padding-left: 40px;
        font-size: 40px;
    }
    .upper-intro p{
        font-size: 16px;
    }
    .lower-intro strong{
        font-size: 14px;
    }
    .lower-intro p{
        font-size: 14px;
    }
    /* review area @768px */
    .review-area{
        height: 1050px;
    }
    .review-area .review-heading{
        margin-top: 20px;
        padding-top: 40px;
    }
    .review-heading .heading{
        padding-left: 40px;
    }
    .review-box{
        /* width: 330px; */
    }
    .review-box p{
        font-size: 16px;
    }
    .blog-heading{
        /* width: 680px; */
        margin: auto;
        text-align: center;
        margin-top: 60px;
    }
    .blog-heading .heading{
        font-size: 40px;
    }
    /* .article-box{
        width: 330px;
    } */
    .blog-area{
        height: 1000px;
    }
    /* .blog-img img{
        width: 327px;
    }  */
    .read-more-btn{
        margin-top: 40px;
        padding: 20px;
    }

    /* guide */
    .guide-section{
        margin-top: 30px;
        padding-top: 30px;
    }
    .guide-heading{
        width: 320px;
    }
    .guide-heading .heading{
        font-size: 34px;
    }
    .guide-left-text{
        font-size: 18px;
        width: 320px;
        line-height: 26px;
    }
    .guide-left-sub-text{
        font-size: 12px;
        line-height: 20px;
        width: 320px;
    }
    .guide-right-text{
        font-size: 30px;
    }
    .guide-right{
        width: 330px;
        height: 540px;
        margin-top: 70px;
        margin-left: 30px;
    }
    .guide-right-corner-top{
        left: 275px;
        top: -610px;
    }
    .guide-right-img{
        left: 18px;
    }
    .guide-right-img img{
        height: 250px;
        margin-left: 108px;
        margin-top: 114px;
    }
    .guide-right-banner{
        width: 330px;
        left: 30px;
    }
    .guide-right-banner-text{
        padding-left: 114px;
    }
    .guide-right-banner-text strong{
        font-size: 10px;
        padding-left: 30px;
    }
    .guide-right-banner-text p{
        font-size: 7px;
        padding-left: 42px;
    }
    .comment{
        top: -107px;
        left: 121px;
    }
    .cta-section{
        height: 360px;
    }
    .cta-left{
        padding-top: 20px;
        padding-left: 11px;
        padding-bottom: 20px;
    }
    .cta-left h1{
        font-size: 30px;
    }
    .cta-left p{
        font-size: 16px;
    }
    .cta-left button{
        margin-top: 20px;
        width: 200px;
        height: 35px;
    }
    .cta-img{
        margin: 0;
        padding: 0;
    }
    .footer-top-left h1{
        font-size: 28px;
    }
    .footer-top-left p{
        font-size: 16px;
        padding-top: 10px;
    }
    .footer-top-right{
        padding-top: 80px;
    }
    .footer-top-right .mailbox{
        width: 220px;
        height: 35px;
    }
    .footer-top-right .sub-btn{
        width: 100px;
        height: 35px;
    }
    .footer-bottom .footer-bottom-text{
        font-size: 14px;
    }
    .footer-bottom-mid ul li, .contact-list{
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width:1199px){
    .navbar-brand{
        margin-left: 20px;
        padding-left: 20px;
    }
    .navbar ul{
        font-size: 12px;
    }
    .navbar .nav-item{
        padding-right: 16px;
    }
    .navbar form{
        padding-right: 16px;
    }
    .navbar .btn{
        font-size: 12px;
        background: #20AD96;
    }
    .logo p{
        padding-left: 1px;
        font-size: 12px;
        font-weight: 700px;
    }

    /* hero */
    .hero-left{
        padding-left: 24px;
    }
    .guide-right-corner-top{
        left: 320px;
    }
    
    .hero-area{
        height: 570px;
    }
    .hero-text-1{
        font-size: 12px;
    }
    .hero-heading{
        font-size: 44px;
        line-height: 60px;
    }
    .hero-text-2{
        font-size: 14px;
        line-height: 24.8px;
    }
    .hero-right img{
        width: 400px;
        height: 500px;
    }
    .success-box{
        width: 200px;
        height: 90px;
        right: 90px;
    }
    .success-content{
        padding-left: 65px;
    }
    
    .zigzag-black{
        top: 650px;
        left: 52px;
    }
    .intro{
        margin-top: 140px;
    }
    .upper-intro h1{
        margin-left: -31px;
    }
    .reviews{
        /* margin-left: 18px; */
        margin-left: -20px;
    }
    .review-area{
        height: 700px;
    }
    .review-area .review-heading{
        padding-bottom: 20px;
        margin-top: 60px;
        padding-top: 20px;
        /* margin-left: 28px; */
        margin-left: -11px;
    }
    .review-heading .heading{
        font-size: 44px;
    }
    
    .review-box{
        width: 100%;
        /* height: 370px; */
    }
    .review-box p{
        font-size: 18px;
     }
     .blog-area{
        height: 700px;
     }
     .blog-heading{
        margin: auto;
    }
     
    .blog-heading .heading{
        font-size: 44px;
    }
    .blog-content{
        height: 450px;
    }

    .read-more-btn{
        margin-top: 20px;
    }
    .guide-section{
        padding-top: 60px;
    }
    /* .guide-right{
        margin-left: 30px;
    } */
    .guide-right-corner-top{
        left: 390px;
        top: -680px;
    }
     .guide-heading{
        width: 440px;
     }
     .guide-heading .heading{
        font-size: 44px;
     }
     .guide-left-text{
        font-size: 20px;
        width: 440px;
     }
     .guide-left-sub-text{
        font-size: 16px;
        width: 440px;
     }
     .guide-right{
        margin-left: 30px;
     }
     .guide-right-img{
        left: 115px;
     }
     .guide-right-banner{
        margin-left: 30px;
        width: 426px;
     }
     .guide-right-banner-text{
        padding-left: 110px;
     }
     .comment{
        top: -108px;
        left: 117px;
     }
     .curve{
        top: 5px;
     }
     .guide-right-corner-top{
        left: 385px;
     }
     .cta-section{
        height: 400px;
     }
     .cta-left{
        padding-top: 40px;
     }
     .cta-left h1{
        font-size: 28px;
     }
     .cta-left p{
        font-size: 16px;
     }
     .cta-left .btn{
        width: 216px;
        height: 36px;
        margin-top: 30px;
     }
     footer{
        padding-top: 60px;
     }
     .footer-bottom{
        padding-left: 50px;
     }
     .footer-top-left{
        padding-left: 50px;
    }
     .footer-top-left .heading{
        font-size: 28px;
     }
     .footer-top-left p{
        font-size: 16px;
     }
     .footer-top-right{
        padding-top: 55px;
     }
     .footer-top-right .mailbox{
        width: 240px;
        height: 36px;
        font-size: 14px;
     }
     .footer-top-right > .sub-btn{
        width: 100px;
        height: 36px;
        font-size: 14px;
     }
     .footer-bottom-logo .logo p{
        font-size: 14px;
     }
  }

  /* @media screen and (max-width: 991px) {
    .hero-right img {
        width: 262px;
        height: 403px;
    }
  } */
@media (min-width: 1200px) and (max-width:1399px) {
    .navbar-brand{
        margin-left: 60px;
    }
    .hero-heading{
        font-size: 48px;
        line-height: 60px;
    }
    .hero-left{
        padding-left: 50px;
    }
    .hero-left p{
        padding-top: 30px;
    }
    .zigzag-black{
        /* margin-left: 38px; */
    }
    .upper-intro .heading{
        margin-left: -10px;
    }
    .review-heading .heading{
        padding-left: 24px;
    }
    .review-area{
        height: 820px;
    }
    .reviews{
        padding-left: 14px;
    }
    .review-box {
        width: 360px;
        height: 430px;
    }
    .blog-area{
        height: 700px;
        padding-top: 30px;
    }
    .blog-content{
        padding-left: 20px;
    }
    .blog-heading{
        /* margin-left: 260px; */
    }
    .guide-section{
        height: 840px;
    }
    .guide-left{
        padding-left: 49px;
    }
    .guide-right{
        height: 720px;
        margin-top: 90px;
    }
    .guide-right-img{
        left: 110px;
    }
    .guide-right-banner{
        width: 450px;
    }
    .guide-right-banner-text{
        padding-left: 105px;
    }
    .comment{
        left: 112px;
    }
    .curve{
        top: 5px;
    }
    .guide-right-corner-top{
        left: 390px;
        top: -809px;
    }
    .cta-section{
        padding-top: 60px;
        margin-top: 60px;
    }
    .cta-left{
        padding-top: 90px;
    }
    footer{
        padding-top: 20px;
    }
    .footer-bottom-logo .msg-icon{
        right: 136px;
    }
    .footer-top-left .heading{
        font-size: 25px;
    }
    .footer-top-left p{
        font-size: 17px;
    }
    .guide-section{
        padding-top: 60px;
    }
    .cta-section{
        height: 530px;
    }
  }